[Unit]
Description=Booster Robocup Assist  
After=network.target

[Service]
Type=forking
WorkingDirectory=/home/booster/Workspace/robocup_demo
ExecStartPre=/bin/sleep 30
ExecStart=/bin/bash /home/booster/Workspace/robocup_demo/scripts/start.sh tree:=chase disable_log:=true disable_com:=true
Restart=no
RestartSec=5

[Install]
WantedBy=default.target
